<section class="section">
  <div class="container">
    <h1 class="title">Оберіть категорію</h1>
    <ul class="dog-category__list list">
      <li class="dog-category__item">
        <a class="dog-category__link link" href="#"> Сухий корм </a>
      </li>
      <li class="dog-category__item">
        <a class="dog-category__link link" href="#"> Консерви </a>
      </li>
      <li class="dog-category__item">
        <a class="dog-category__link link" href="#"> Ласощі </a>
      </li>
      <li class="dog-category__item">
        <a class="dog-category__link link" href="#"> Іграшки </a>
      </li>
      <li class="dog-category__item">
        <a class="dog-category__link link" href="#"> Амуніція </a>
      </li>
      <li class="dog-category__item">
        <a class="dog-category__link link" href="#"> Вітаміни та добавки </a>
      </li>
      <li class="dog-category__item">
        <a class="dog-category__link link" href="#"> Догляд </a>
      </li>
      <li class="dog-category__item">
        <a class="dog-category__link link" href="#"> Спальні місця </a>
      </li>
    </ul>
  </div>
</section>
