<header>
  <div class="container">
    <div class="header">
      <div class="header-top">
        <a class="logo link" href="/"> ZooShop </a>

        <p>Наша Міссія - принести користь Вашим улюбленцям</p>

        <ul class="contact-list list">
          <li>
            <a class="nav-link link" href="mailto:juliamikhayenko@gmail.com">
              juliamikhayenko@gmail.com
            </a>
          </li>

          <li>
            <a class="nav-link link" href="tel:+380631234567">
              +38 064 123 45 67
            </a>
          </li>
        </ul>
      </div>

      <div class="header-menu">
        <nav>
          <ul class="nav-list list">
            <li>
              <a class="nav-link link" href="./index.html">Головна</a>
            </li>

            <li>
              <a class="nav-link link" href="/">Бренди</a>
            </li>
            <li>
              <a class="nav-link link" href="/">Знижки</a>
            </li>
          </ul>
        </nav>

        <ul class="menu-list list">
          <li class="menu-animals">
            <a class="nav-link link" href="#">Товари</a>
            <ul class="submenu-animals__list list">
              <!-- Собаки -->
              <li class="submenu-animals__item">
                <a class="nav-link link" href="./dog.html">Собаки</a>
                <ul class="sub-submenu list">
                  <li class="">
                    <a class="nav-link link" href="/">Сухий корм</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Консерви</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Ласощі</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Іграшки</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Амуніція</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Вітаміни та добавки</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Догляд</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Спальні місця</a>
                  </li>
                </ul>
              </li>
              <!-- Коты -->
              <li class="submenu-animals__item">
                <a class="nav-link link" href="/">Коти</a>
                <ul class="sub-submenu list">
                  <li class="">
                    <a class="nav-link link" href="/">Сухий корм</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Консерви</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Ласощі</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Іграшки</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Амуніція</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Вітаміни та добавки</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Догляд</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Спальні місця</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Туалети</a>
                  </li>
                  <li class="">
                    <a class="nav-link link" href="/">Наповнювачі</a>
                  </li>
                </ul>
              </li>
              <!-- Птахи -->
              <!-- <li class="submenu-animals__item">
                <a class="nav-link link" href="/">Птахи</a>
                <ul class="sub-submenu list">
                  <li>
                    <a class="nav-link link" href="/">Поїлки</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Годівниці</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Іграшки</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Вітаміни</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Клітка</a>
                  </li>
                </ul>
              </li> -->
              <!-- Гризуни -->
              <!-- <li class="submenu-animals__item">
                <a class="nav-link link" href="/">Гризуни</a>
                <ul class="sub-submenu list">
                  <li>
                    <a class="nav-link link" href="/">Поїлки</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Годівниці</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Іграшки</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Вітаміни</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Клітка</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Сіно</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Підстилки</a>
                  </li>
                </ul>
              </li> -->
              <!-- Коні -->
              <!-- <li class="submenu-animals__item">
                <a class="nav-link link" href="/">Коні</a>
                <ul class="sub-submenu list">
                  <li>
                    <a class="nav-link link" href="/">Сіно</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Підстилки</a>
                  </li>
                </ul>
              </li> -->
              <!-- Рибки -->
              <!-- <li class="submenu-animals__item">
                <a class="nav-link link" href="/">Рибки</a>
                <ul class="sub-submenu list">
                  <li>
                    <a class="nav-link link" href="/">Корм</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Акваруми</a>
                  </li>
                </ul>
              </li> -->
              <!-- Рептилії -->
              <!-- <li class="submenu-animals__item">
                <a class="nav-link link" href="/">Рептилії</a>
                <ul class="sub-submenu list">
                  <li>
                    <a class="nav-link link" href="/">Корм</a>
                  </li>
                  <li>
                    <a class="nav-link link" href="/">Акваруми</a>
                  </li>
                </ul>
              </li> -->
            </ul>
          </li>
          <li>
            <a class="nav-link link" href="/">Акції</a>
          </li>
          <li>
            <a class="nav-link link" href="/">Контакти</a>
          </li>
          <li>
            <a class="nav-link link" href="/">Доставка</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
