<section class="section hero-bg">
  <div class="container">
    <div class="hero-content">
      <h1 class="title">Компанія «ZooShop» Вітає!</h1>
      <p>
        Ми професійно консультуємо та підбираємо якісне харчування для домашніх
        тварин а також забезпечуємо іншими товарами необхідними для їх
        утримання. Підбираємо найкращі варіанти «ціна/якість» згідно потреб та
        можливостей замовника. Наша мета — це ситі та веселі домашні улюбленці
        та щасливі власники
      </p>
    </div>
  </div>
</section>
